
				<footer id="footer">{{ config_footer_text }}</footer>
				{% if config_admin_columnleft_stats_auth  == 1 %}
				<script>
				$(document).ready(function() {
					$("#stats").css('display', 'none');
				});
	   			</script>
				{% endif %}
				
			</div>
</body></html>
